h1{
    color: yellow;
    background-color: palevioletred;
    font-style: oblique;

    line-height: 80px;
}

.container{
    color: pink;
    width: 700px;
    height: 300px;
    text-align: center;
    background-image: url('./image.jpg');
    background-size: cover;
    background-position: fixed;
    font-family: fantasy;
}
/*pseudo class selector*/
a:hover{
    color: red;
}
a:active{
    color: blue;
}